.team {
  background-color: #F4F4FD; /* Светло-серый фон для всей секции */
  padding: 120px 0;
}

.team-item {
  background-color: #FFFFFF; /* Белый фон для каждой карточки */
  /* Добавим тень, чтобы карточки выделялись на сером */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
              0px 1px 1px rgba(46, 47, 66, 0.16), 
              0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
